@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #9c9c8d;
    --primary-dark-color: #30321c;
    --yellow-color: #fcfc62;
    --background: var(--primary-color);
    --text-color: #fff;

    --padding-side: 3rem;
  }

  [data-theme='dark'] {
    --background: #121212;
  }
}

@layer base {
  body {
    @apply bg-background text-text font-inter font-normal;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 1440px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 640px) {
  :root {
    --padding-side: 1rem;
  }
}
