@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color-rgb: 156, 156, 141;
    --primary-color-rgb-20: 125, 125, 113;
    --primary-dark-color-rgb: 48, 50, 28;
    --primary-dark-color-rgb-20: 38, 40, 22;
    --green-color-rgb: 74, 75, 47;
    --green-color-rgb-20: 59, 60, 38;
    --yellow-color-rgb: 252, 252, 98;
    --yellow-color-rgb-20: 227, 227, 88;
    --background-rgb: var(--primary-color-rgb);
    --text-color-rgb: 255, 255, 255;
    --button-white-rgb: 254, 255, 234;
    --button-white-rgb-20: 203, 204, 187;
    --padding-side: 3rem;
    --footer-background-rgb: 0, 0, 0;
    --button-default-rgb: 156, 156, 141;
    --button-default-rgb-20: 125, 125, 113;

    /* classes colors */
    --no-gi-color-rgb: 176, 203, 173;
    --no-gi-color-rgb-20: 141, 162, 138;
    --gi-color-rgb: 235, 233, 202;
    --gi-color-rgb-20: 188, 186, 162;
    --kids-color-rgb: 234, 249, 221;
    --kids-color-rgb-20: 187, 199, 177;
    --mma-color-rgb: 132, 208, 203;
    --mma-color-rgb-20: 106, 166, 162;
    --wrestling-color-rgb: 195, 232, 234;
    --wrestling-color-rgb-20: 156, 186, 187;
    --striking-color-rgb: 177, 206, 219;
    --striking-color-rgb-20: 142, 165, 175;
    --schedule-darkblue-color-rgb: 48, 44, 54;
    --schedule-darkblue-color-rgb-20: 38, 35, 43;
    --schedule-bg-color-rgb: 213, 212, 191;
    --cf-text-color-rgb: var(--primary-dark-color-rgb);
  }

  [data-theme='dark'] {
    --primary-color-rgb: 18, 18, 18;
    --footer-background-rgb: 48, 50, 28;
    --cf-text-color-rgb: 255, 255, 255;
  }
}

@layer base {
  body {
    @apply bg-background text-text font-inter font-normal;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #7d7d71;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #262816;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1440px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 1025px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 640px) {
  :root {
    --padding-side: 1rem;
  }
}

@layer utilities {
  .clip-path-animation {
    clip-path: inset(0 50% 0 50%);
  }
}

.membershipHightlightedText {
  span {
    @apply font-bold;
  }
}

.membershipsLists {
  li {
    @apply list-disc mt-2;
  }
}

.grecaptcha-badge {
  display: none !important;
}
